.input-group {
  margin: 1rem 0;
}

th, td {
  vertical-align: middle !important;
  text-align: center !important;
}

td:first-of-type {
  height: 200px;
  width: 250px;
  min-height: 200px;
  min-width: 250px;
}
